ion-button {
    font-size: 12px;
    white-space: nowrap;
    width: fit-content;
    height: 35px;
    margin: 5px;
    padding: 5px;
    // Centrarlo
    margin-left: auto;
    margin-right: auto;
    display: block;
}

  p{
    font-size: 14px;
  }

img {
  border-radius: 20px;
}