<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><i class="fa-solid fa-arrow-left" routerLink="/"></i> Regresar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="productDetails" class="ion-padding">
    <img width="100%" [src]="productDetails.imagen ? ('https://mercadito-app.azurewebsites.net/images/products/' + productDetails.imagen) : 'https://via.placeholder.com/150'" alt="Product Image">
    <p style="font-size: 18px; margin-top: 10px;"><b>{{ productDetails.nombre }}</b></p>
    <p style="font-size: 16px; margin-top: -30px;"><br><b>Descripción</b><br></p>
    <p style="font-size: 12px; margin-top: -10px;">{{ productDetails.descripcion }}</p>
    <p style="font-size: 12px; margin-top: -10px;">Vendedor: {{ productDetails.nombre_de_usuario }}</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row *ngIf="productDetails">
      <ion-col>
        <p style="font-size: 12px; margin-left: 10px;">Precio</p>
        <p style="font-size: 16px; margin-left: 10px; margin-top: -10px;"><b>${{ productDetails.precio | number:'1.2-2' }}</b></p>
      </ion-col>
      <ion-col class="ion-text-end">
        <ion-button style="margin-top: 15px;" shape="round" color="dark" (click)="addProductCart(productDetails)">Agregar al carrito</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
