<ion-tabs>

  <ion-tab-bar color="light" slot="bottom">
    <ion-tab-button tab="home">
      <i class="fa-solid fa-house-blank"></i>
      <i class="fa-regular fa-house-blank"></i>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <i class="fa-solid fa-cart-shopping"></i>
      <i class="fa-regular fa-cart-shopping"></i>
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <i class="fa-solid fa-user"></i>
      <i class="fa-regular fa-user"></i>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <i class="fa-solid fa-grid-2"></i>
      <i class="fa-regular fa-grid-2"></i>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
