// Media Query para pantallas anchas (ajusta el valor según tus necesidades)
@media (min-width: 768px) { 
	ion-app {
	  // Establece el ancho máximo de la aplicación
	  min-width: 400px; // Ajusta este valor al ancho deseado
	  max-width: 30%; // Ajusta este valor al ancho deseado
	  // Centra la aplicación horizontalmente
	  margin: 0 auto;
  
	  // Aplica el fondo degradado azul
	  background: linear-gradient(to bottom, #006598, #004c73);
	}
  }