<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="imagePreview" >
    <ion-img [src]="imagePreview" width="100%"></ion-img>
  </ion-card>
  <ion-card *ngIf="!imagePreview">
    <ion-icon class="img-placeholder" name="image-outline" style="width: 100%;"></ion-icon>
  </ion-card>

  <form [formGroup]="productForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-input formControlName="nombre"
        label="Nombre**"
        labelPlacement="floating"
        [counter]="true"
        maxlength="80"
        [required]="true"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="descripcion"
        [counter]="true"
        maxlength="500"
        [autoGrow]="true"
        label="Descripción**"
        labelPlacement="floating"
        [required]="true"
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-input 
        label="Precio**"
        labelPlacement="floating"
        formControlName="precio"
        type="number"
        [required]="true"
        ></ion-input>
    </ion-item>
    <br>
    <div style="text-align: center;">
      <ion-button color="dark" shape="round" size="default" (click)="selectImage()">
        <ion-icon name="image-outline" slot="start"></ion-icon>
        Seleccionar Imagen (Opcional)
        <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
      </ion-button>
    </div>
    <br><br>
    <ion-button color="dark" shape="round" expand="block" size="large" type="submit" [disabled]="!productForm.valid">Guardar</ion-button>
  </form>
</ion-content>
