<ion-card button="true" (click)="toggleDetails()">
  <ion-card-header>
    <ion-icon slot="end" [name]="showDetails ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    <ion-card-title *ngIf="!isProduct">
      <strong>{{ order.lugar_entrega }}</strong>, {{ order.fecha_pedido.slice(0,10) }}
    </ion-card-title>
    <ion-card-title *ngIf="isProduct">
      {{ producto.nombre }}
    </ion-card-title>
    <ion-card-subtitle *ngIf="!isProduct">
      <strong>Pedido de {{ order.comprador }}</strong>
      <br> {{order.id_pedido}}
    </ion-card-subtitle>
    <ion-card-subtitle *ngIf="isProduct">
      <strong>${{ producto.precio }}</strong>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content *ngIf="showDetails && !isProduct">
    <ion-list>
      <ion-item *ngIf="order.notas" lines="none">
        <ion-label position="stacked"><strong>Notas</strong></ion-label>
        <ion-text class="description">{{ order.notas }}</ion-text>
      </ion-item>
    </ion-list>
    
    <ion-list *ngFor="let detail of order.detalles" lines="none">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="apiService.getProductImage(detail.imagen, detail.placeholder)" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ detail.nombre }}</h2>
          <p>${{ detail.precio }}</p>
          <p *ngIf="detail.vendedor !== currentUser?.nombre_de_usuario">Vendedor: {{ detail.vendedor }}</p>
        </ion-label>
        <ion-select
          *ngIf="isSellerView"
          slot="end"
          [value]="detail.estado"
          (ionChange)="updateOrderStatus(detail, $event.detail.value)"
          interface="popover"
          (click)="($event.stopPropagation())"
        >
          <ion-select-option
            *ngFor="let status of getAvailableStatuses(detail.estado)"
            [value]="status"
            [disabled]="!isStatusAllowed(detail.estado, status)">
            {{ status }}
          </ion-select-option>
        </ion-select>
        <ion-badge *ngIf="!isSellerView" slot="end" [color]="getStatusColor(detail.estado)">
          {{ detail.estado }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </ion-card-content>
  <ion-card-content *ngIf="showDetails && isProduct">
    <!-- Product details -->
    <ion-list lines="none">

      <ion-item>
        <ion-thumbnail slot="start" *ngIf="isProduct">
          <img [src]="apiService.getProductImage(producto.imagen, producto.placeholder)" />
        </ion-thumbnail>
        <p class="description">{{ producto.descripcion }}</p>
        <ion-button fill="clear" slot="end" (click)="deleteProduct();$event.stopPropagation();">
          <ion-icon name="trash" slot="icon-only" size="large" class="red-icon"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
      <!-- Action buttons -->
      <div style="text-align: center;">
        <ion-button color="dark" expand="block" shape="round" (click)="openEditProductModal(producto);$event.stopPropagation();">Editar</ion-button>
        <ion-button shape="round" expand="block" [color]="producto.disponibilidad ? 'success' : 'danger'" (click)="toggleAvailability();$event.stopPropagation();">Cambiar disponibilidad</ion-button>
      </div>
  </ion-card-content>

</ion-card>